<div class="px-5 py-[10px] flex flex-col gap-8 h-full justify-center items-center max-w-[480px] mx-auto">
    <img src="assets/img/asking-question.png" alt="..." class="block w-[200px] mx-auto"/>
    <section class="flex flex-col items-center justify-center gap-8 lg:gap-4">
        <h1 class="text-[25px] font-inter font-semibold text-center text-capital-black leading-[37px] lg:leading-[130%]">Great Work!<br class="hidden lg:block"/> Your Business Profile is Taking Shape!</h1>
        <p class="text-center leading-[29px] pb-4 text-capital-gray-dark font-inter text-[17px] lg:text-sm font-light">You’re building a solid foundation for investment success! Now, let’s dive deeper into your investor readiness to unlock real funding opportunities</p>
        <app-button className="bg-capital-green-75 lg:bg-capital-yellow-100 lg:hover:bg-capital-yellow-75 transition-all w-max mx-auto md:!py-3 md:!text-sm" label="Strengthen Your Investment Readiness"></app-button>
    </section>
</div>
