<ng-container *ngIf="transactionStatus$ | async"></ng-container>
<ng-container *ngIf="getMeeting$ | async"></ng-container>
<ng-container *ngIf="saveNotes$ | async"></ng-container>





<div class="main">
  <div class="navbar">
    <app-navbar onDashboard="true"></app-navbar>
  </div>
  <main>
    <div class="left__col">
  <div class="meeting-container">
    <h2 class="meeting-title">{{ meetingDetails.title }}</h2>
    <div class="meeting-details">
      <p><strong>Hosted by:</strong> {{ meetingDetails.hostDisplayName }}</p>
      <p><strong>Email:</strong> {{ meetingDetails.hostEmail }}</p>
      <p><strong>Start Time:</strong> {{ meetingDetails.start | date: 'medium' }}</p>
      <p><strong>End Time:</strong> {{ meetingDetails.end | date: 'medium' }}</p>
    </div>

    <div class="join-section">
      <h3 class="join-title">Join the Meeting</h3>
      <p class="join-text">You can join this meeting directly below:</p>
      <button class="btn-primary" (click)="redirectToWebexMeeting()">Click To Join</button>
    </div>

    <div class="notes-section">
      <h2 class="meeting-title">Meeting Notes</h2>
      <p-editor placeholder="Write your notes here..." [(ngModel)]="meetingNotes"></p-editor>
    </div>
    
    <button class="btn-secondary mt-5 w-100" (click)="saveMeetingNotes()">Save Notes</button>
  </div>
</div>



    <div class="right__col">
      <app-advertisement-space [title]="'Advertise Here'"  [body]="'This space is available for your advertising needs to reach more businesses. Contact us to learn more!'" />
    </div>

  </main>
</div>
