<ng-container *ngIf="publicInvestors$ | async"></ng-container>
<ng-container *ngIf="searchedResults$ | async"></ng-container>
<div class="main__content">
  <app-sidenav [links]="links"/>
  <div class="main">
    <div class="navbar"><app-navbar onDashboard="true" [showBanner]="false" /></div>
    <ag-grid-angular
        style="min-width: 100%; height: 75%;"
        [context]="{ componentParent: this }"
        [rowData] ="publicInvestors"
        [gridOptions]="gridOptions"
    />
    </div>
</div>
      