<main class="grid grid-cols-[85%_auto]">
  
    <div class="bg-capital-green-25 h-screen py-auto">
        <div class="mx-auto  mt-[2.5cm] mb-[2cm] w-[1019px] h-[799px]  p-10  bg-white border border-[#DDE2E5] rounded-[20px]">
            <div class="flex flex-row justify-end items-center p-0 gap-2 w-[939px] h-[18px] mx-auto"> 
                 <p class="mt-[40px] font-inter text-[12px] text-capital-black leading-[18px] font-normal">Step 1 of 3</p>
              </div>
              
            <div class="py-[16px] mx-auto w-[939px] mt-5">
                <div class="w-full bg-capital-yellow-25 rounded-lg overflow-hidden h-[6px]">
                    <div  class="bg-capital-yellow-75 h-full transition-all duration-300"  [style.width.%]="progress_bar_value">
                    </div>
                  </div>
            </div>

            <p class="text-center mt-16 mb-[1.3cm] text-capital-black leading-[32px] text-[28px] font-normal font-inter">Build Your Investment Identity</p>
            
            <div class="grid grid-cols-2 gap-4 p-10">
                <input-field formControlName="username" class="[&_label]:text-capital-green-100 text-[18px] leading-[26px] font-inter font-medium" type="email" placeholder="Enter Email" label="Head Office Location?" />
                <input-field formControlName="username" class="[&_label]:text-capital-green-100 text-[18px] leading-[26px] font-inter font-medium" type="email" placeholder="Enter Email" label="Countries ofinvestment focus?" />
                <input-field formControlName="username" class="[&_label]:text-capital-green-100 text-[18px] leading-[26px] font-inter font-medium" type="email" placeholder="Enter Email" label="Organization Name?" />
                <input-field formControlName="username" class="[&_label]:text-capital-green-100 text-[18px] leading-[26px] font-inter font-medium" type="email" placeholder="Enter Email" label="Fund Description?" />               
                <input-field formControlName="username" class="[&_label]:text-capital-green-100 text-[18px] leading-[26px] font-inter font-medium" type="email" placeholder="Enter Email" label="Website Url?" />
                <input-field formControlName="username" class="[&_label]:text-capital-green-100 text-[18px] leading-[26px] font-inter font-medium" type="email" placeholder="Enter Email" label="Email Address?" />               
            </div>

            <div class="flex justify-center gap-3 mt-10">
                <app-button  className="bg-capital-green-100 hover:bg-capital-green-75 transition-all" label="Set Your Investment Capacity">
                </app-button>
                <app-button  className="bg-capital-green-100 hover:bg-capital-green-75 transition-all" label="Set Your Investment Capacity">
                </app-button>
            </div>

        </div>
    </div>

    <section class="hidden h-full w-full lg:block">
      <div class="fixed  w-full flex flex-col bg-capital-green-75 h-full pt-14 px-[27px] gap-10">
          <div>
              <img src="assets/img/logo-white.png" class="w-[105px] block" />
          </div>
  
          <h3 class="text-white font-inter font-semibold text-lg -mt-4">Quick &amp; Easy Setup</h3>
          <ul class="flex flex-col w-full gap-[45px]">
              <li *ngFor="let step of steps; let first = first; let last = last" class="w-full relative flex items-center">
                  <div class="bg-white relative rounded-full after:absolute after:h-[47px] after:bg-capital-blue-50 isolate after:-z-10 after:w-[1px] after:top-[100%] after:left-[50%] after:-translate-x-[50%]" [class.after:hidden]="last"  [class]="step.done ? '-left-[2px] w-[11px] h-[11px]' : 'w-[7px] h-[7px]'"></div>
                  <small class="text-[13px] leading-[0]  font-inter font-light pl-3" [ngClass]="{'text-capital-yellow-100': step.isActive, 'text-white': !step.isActive}">{{step.label}}</small>
              </li>
          </ul>

      </div>
  </section>
      

</main>