<main class="grid grid-cols-[85%_auto]">
  
    <div class="bg-capital-green-25 h-screen py-auto">
        <div class="mx-auto  mt-[2.5cm] mb-[2cm] w-[1019px] h-[799px]  p-10  bg-white border border-[#DDE2E5] rounded-[20px]">
            <div class="flex flex-row justify-end items-center p-0 gap-2 w-[939px] h-[18px] mx-auto"> 
                 <p class="mt-[40px] font-inter text-[12px] text-capital-black leading-[18px] font-normal">Step 1 of 3</p>
              </div>
              
            <div class="py-[16px] mx-auto w-[939px] mt-5">
                <div class="w-full bg-capital-yellow-25 rounded-lg overflow-hidden h-[6px]">
                    <div  class="bg-capital-yellow-75 h-full transition-all duration-300"  [style.width.%]="progress_bar_value">
                    </div>
                  </div>
            </div>

            <p class="text-center mt-16 mb-[1.3cm] text-capital-black leading-[32px] text-[28px] font-normal font-inter">Build Your Investment Identity</p>
            
            <div class="grid grid-cols-2 gap-4 p-10">
                <input-field formControlName="username" class="[&_label]:text-capital-green-100 text-[18px] leading-[26px] font-inter font-medium" type="email" placeholder="Enter Email" label="Head Office Location?" />
                <input-field formControlName="username" class="[&_label]:text-capital-green-100 text-[18px] leading-[26px] font-inter font-medium" type="email" placeholder="Enter Email" label="Countries ofinvestment focus?" />
                <input-field formControlName="username" class="[&_label]:text-capital-green-100 text-[18px] leading-[26px] font-inter font-medium" type="email" placeholder="Enter Email" label="Organization Name?" />
                <input-field formControlName="username" class="[&_label]:text-capital-green-100 text-[18px] leading-[26px] font-inter font-medium" type="email" placeholder="Enter Email" label="Fund Description?" />               
                <input-field formControlName="username" class="[&_label]:text-capital-green-100 text-[18px] leading-[26px] font-inter font-medium" type="email" placeholder="Enter Email" label="Website Url?" />
                <input-field formControlName="username" class="[&_label]:text-capital-green-100 text-[18px] leading-[26px] font-inter font-medium" type="email" placeholder="Enter Email" label="Email Address?" />               
            </div>

            <div class="flex justify-center gap-3 mt-10">
                <app-button  className="bg-capital-green-100 hover:bg-capital-green-75 transition-all" label="Set Your Investment Capacity">
                </app-button>
                <app-button  className="bg-capital-green-100 hover:bg-capital-green-75 transition-all" label="Set Your Investment Capacity">
                </app-button>
            </div>

        </div>
    </div>


    <div class="bg-capital-green-75 h-full p-5">
        <img src="../../../../../assets/img/logo-white.png" class="mt-[1cm]" alt="logo-white">
        <p class="font-lufga leading-[32px] font-semibold text-white mb-[1cm] mt-[1cm]">Quick & Easy Set Up</p>
        <div class="">
            <p-timeline [value]="events" class="ml-[-6cm] mt-[.5cm]">
                <ng-template #content let-event class="mx-[1cm] bg-red-600 p-5">
                    <p class="text-[14px] ml-[.3cm] text-white">{{ event.status }}</p>
                </ng-template>
            </p-timeline>
        </div>      


    </div>

</main>