<button
  [type]="type"
  [disabled]="disabled"
  class="group text-capital-white font-inter leading-6 flex items-center justify-center gap-3 w-full px-5 py-4 rounded-xl rounded-ss-none"
  [class]="className"
  [ngClass]="{ 'bg-capital-green-25 hover:bg-capital-green-25': disabled }"
  (click)="handleClick()"
>
  <ng-container *ngIf="showContent">
    <span
      >{{ label }}</span
    >
    <i
      *ngIf="showArrow"
      class="pi pi-arrow-right text-xs group-hover:translate-x-2 transition-all"
      [ngClass]="{ 'group-hover:translate-x-0': disabled }"
    ></i>
  </ng-container>
  <ng-content></ng-content>
</button>
