<p-dialog [(visible)]="visible" [modal]="true" (onHide)="hideModal()" styleClass="rounded-md modal px-8 py-4 bg-white shadow w-[90%] lg:w-[67.5%] 2xl:w-[50%] h-full">
  <div class="flex flex-col gap-[1rem] h-full">
    <div class="flex gap-6 items-start diag-header">
      <div>
        <div class="flex gap-8 items-center">
          <h2 class="diag-title">{{ title }}</h2>
          <span>{{value}}</span>
        </div>

        <p class="diag-help-text font-[400]">{{ helperText }}</p>
      </div>
    </div>
    <ng-content></ng-content>
  </div>
</p-dialog>
