<div class="flex flex-col gap-1 relative items-start w-full" [class]="className">
  <label class="text-capital-gray-dark font-inter text-sm font-normal" [class]="labelClassName" *ngIf="label">{{label}}</label>
  <input class="border border-[#cbd5e1c7] pl-4 pr-9 py-[9px] block w-full rounded text-sm font-inter font-light" [value]="value??''"
    (input)="onInputChange($event)" [placeholder]="placeholder" [type]="type" [disabled]="disabled"/>
    <i (click) ="onIconClick()"  class="absolute top-[36px] right-3 text-xs inline-block cursor-pointer text-[#64748be2]" [class]="icon" *ngIf="icon"></i>
    <small class="text-rose-500 font-light text-xs hidden" *ngIf="errorMessage">{{errorMessage}}</small>
</div>