<p-carousel
    [value]="slides"
    [numVisible]="1"
    [numScroll]="1"
    [circular]="true"
    [showNavigators]="false"
    autoplayInterval="3000"
    styleClass="md:h-full h-0 hidden md:block"
  >
    <ng-template let-slide #item>
      <section class="relative isolate h-full rounded-[5px] overflow-hidden">
        <img
          [src]="slide.imageUrl"
          class="absolute inset-0 block h-full w-full -z-[1] object-cover"
        />  
        <img
          *ngIf="slide.logoUrl"
          [src]="slide.logoUrl"
          class="absolute top-[20px] left-[30px] block w-[120px] object-cover"
        />  
        <div class="bg-capital-green-100 bg-opacity-[0.37] h-full flex flex-col justify-end" [class]="slide.className">
          <div class="px-4 pb-[4.5rem]">
            <div class="text-white flex flex-col gap-4 w-[80%]">
              <p class="font-inter font-light text-[16px] leading-[20px]">
                {{ slide.description }}
              </p>
            </div>
          </div>
        </div>
      </section>
    </ng-template>
  </p-carousel>