<div class="flex items-center justify-between alert__container relative" [ngClass]="{'bg__warning': alertTypes.WARNING}" [class]="className" *ngIf="signalsService.showInAppAlert()">
    <div class="flex flex-col gap-4 w-max">
        <div class="flex flex-col">
            <strong class="block text-lg">{{signalsService.actionBody().title}}</strong>
            <span>{{signalsService.actionBody().message}}</span>
        </div>
        <button class="cta" *ngIf="action" (click) ="action()">{{signalsService.actionBody().command}}</button>
    </div>
</div>