
.canvas{
    overflow: hidden;
    border-radius: .5rem;
    padding: 1rem 0;
    background-color: white;
    display: flex;
    align-items: center;
    .google-chart {
        width: 100%;
        height: 100%;
        justify-content: flex-start;
    }
    
}