@import '../../organization.styles.scss';

.form__grid{
    .inline__wrapper{
        flex-direction: column;
    }
}

@include when-screen-is-atleast(large){
    .form__grid{
        .inline__wrapper{
            flex-direction: row;
        }
    }
}

:host ::ng-deep {
    .p-multiselect-filter{
      padding: .5rem 1rem;
    }
    .p-dropdown-item,
    .p-dropdown-label{
      
      white-space: wrap!important;
    }

    .p-dropdown-item{
      span,
      .custom__option{
        width: 100%!important;
        display: block!important;

      }
    }
    .p-tooltip {
      font-size: 0.75rem;
      background-color: #4b5563; /* Tailwind gray-600 */
      color: #ffffff;
      padding: 0.5rem 0.75rem;
      border-radius: 0.25rem;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }

    .p-multiselect-panel ul,
    .p-dropdown ul{
        padding: .5rem;
        display: flex;
        flex-direction: column;
        li{
          display: flex;
          padding: .5rem;
          gap: .5rem;
          align-items: center;
          .p-checkbox-box{
            display: inline-block;
            border: 1px solid #f1f1f1;
          }
        }
      }
  }