<ng-container *ngIf="stats$ | async"></ng-container>
<ng-container *ngIf="response$| async"></ng-container>
<ng-container *ngIf="specialCriteriaListing$ | async as criteria_list"/>



<div class="main__content">
    <app-sidenav [links]="links"/>
    <div class="main">
        <div class="navbar"><app-navbar onDashboard="true" /></div>
        <main *ngIf="canViewInvestorDetails">

        <p class="matched__investor__heading"><strong>Matched Investor's Special Criteria</strong></p>
        
          <div class="container">
            <div class="meta" *ngFor="let criteria of criteriaList">
                <div class="label">
                    <span>{{criteria.title}}</span>
                    <span class="questions__count">Questions: {{(criteria.questions || []).length}}</span>
                </div>
                <p class="desc">
                    <span>{{criteria.description}}</span>
                    <button (click)="openQuestions(criteria.id)" class="sc__btn" *ngIf="(criteria.questions || []).length">Attempt</button>
                </p>
            </div>
            <div class="no-data" *ngIf="criteriaList.length < 1">No Special Criteria Listed Yet.</div>
        </div>

        <!-- <p class="matched__investor__heading"><strong>Matched Investor Details</strong></p> -->
          <div class="card__item__details" details>
            <div class="card__item__detail_info" *ngIf="relationship ==relationship_types.CONNECTED">
              <div>
                <label>Investor Name:</label>
                <p>{{investor.organizationName}}</p>
              </div>
              <div>
                <label>Email Address:</label>
                <p>{{investor.emailAddress}}</p>
              </div>
              <div>
                <label>Country where headquatered:</label>
                <p>{{investor.headOfficeLocation}}</p>
              </div>
            </div>
            
            <div class="card__item__detail_info" *ngIf="relationship ==relationship_types.CONNECTED || relationship ==relationship_types.REQUESTED">
              <div>
                <label>Investor Type:</label>
                <p>{{investor.investorType}}</p>
              </div>
              <div >
                <label>Minimum Funding:</label>
                <p>${{investor.minimumFunding | numberabbreviation}}</p>
              </div>
              <div>
                <label>Maximum Funding:</label>
                <p><ng-container *ngIf="investor.noMaximumFunding; else withMaxFunding">
                  Unlimited
                </ng-container>
                <ng-template #withMaxFunding>
                  ${{ investor.maximumFunding | numberabbreviation }}
                </ng-template></p>
              </div>
            </div>
          
            <div class="card__item__detail">
              <div *ngIf="relationship ==relationship_types.MATCHED || relationship ==relationship_types.CONNECTED || relationship ==relationship_types.REQUESTED">
                <label>Sectors of investment</label>
                <ul class="chips">
                  <li *ngFor="let sector of investor.sectors" class="chip">{{sector.name}}</li>
                </ul>
              </div>
              <div *ngIf="relationship ==relationship_types.MATCHED || relationship ==relationship_types.CONNECTED || relationship ==relationship_types.REQUESTED">
                <label>Sub-sectors</label>
                <ul class="chips">
                  <li *ngFor="let subSector of investor.subSectors" class="chip">{{subSector.name}}</li>
                </ul>
              </div>
              <div *ngIf="relationship ==relationship_types.MATCHED || relationship ==relationship_types.CONNECTED || relationship ==relationship_types.REQUESTED">
                <label>ESG Focus Areas:</label>
                <ul class="chips">
                  <li *ngFor="let esg of investor.esgFocusAreas" class="chip">{{esg}}</li>
                </ul>
              </div>
              <div *ngIf="relationship ==relationship_types.MATCHED || relationship ==relationship_types.CONNECTED || relationship ==relationship_types.REQUESTED">
                <label>Business Stages the investor focuses on:</label>
                <ul class="chips">
                  <li *ngFor="let stage of investor.businessGrowthStages" class="chip">{{stage}}</li>
                </ul>
              </div>
            </div>

            <div class="card__item__detail">
              <div *ngIf="relationship ==relationship_types.CONNECTED || relationship ==relationship_types.REQUESTED">
                <label>Registration Structures:</label>
                <ul class="chips">
                  <li *ngFor="let registration of investor.registrationStructures" class="chip">{{registration}}</li>
                </ul>
              </div>
              <div *ngIf="relationship ==relationship_types.MATCHED || relationship ==relationship_types.CONNECTED || relationship ==relationship_types.REQUESTED">
                <label>Investment Structures:</label>
                <ul class="chips">
                  <li *ngFor="let investiment of investor.investmentStructures" class="chip">{{investiment}}</li>
                </ul>
              </div>
              <div *ngIf="relationship ==relationship_types.MATCHED || relationship ==relationship_types.CONNECTED || relationship ==relationship_types.REQUESTED">
                <label>Countries of investment focus:</label>
                <ul class="chips">
                  <li *ngFor="let country of investor.countriesOfInvestmentFocus" class="chip">{{country}}</li>
                </ul>
              </div>

          
            </div>
          </div>

          <div class="button-group" footer>
            <button class="btn__cta text-blue-600" (click)="goBack()">
              <i class="pi pi-angle-left"></i>
              <span class="btn-text">Back</span>
            </button>
            <div class="flex items-center justify-end">
              <button class="btn__cta text-teal-600" (click)="approveConnectionRequest(investor.uuid)" *ngIf="relationship ==relationship_types.REQUESTED">
                <i class="pi pi-check"></i>
                <span class="btn-text">Approve</span>
              </button>
              <button class="btn__cta text-rose-600" (click)="declineConnectionRequest(investor.uuid)" *ngIf="relationship ==relationship_types.REQUESTED">
                <i class="pi pi-times"></i>
                <span class="btn-text">Decline</span>
              </button>
            </div>
            <button class="btn__cta text-rose-600" *ngIf="relationship ==relationship_types.CONNECTED">
              <i class="pi pi-times"></i>
              <span class="btn-text">Revoke</span>
            </button>
          </div>
      </main>
      <div class="items__list" *ngIf="canViewDeclineReasons">
        <label>Reasons for decline</label>
        <ul>
          <li class="chip" *ngFor="let reason of declineReasons">{{reason}}</li>
        </ul>
        <div class="button-group" footer>
          <button class="btn__cta text-blue-600" (click)="goBack()">
            <i class="pi pi-angle-left"></i>
            <span class="btn-text">Back</span>
          </button>
          </div>
      </div>
      
      <div *ngIf="!canViewDeclineReasons && !canViewInvestorDetails" class="no-data">No records found</div>
    </div>
</div>
  
