<div class="px-5 py-[10px] flex flex-col gap-8 h-full justify-center items-center max-w-[672px] mx-auto">
    <img src="assets/img/multitasking or branding or product planninh.png" alt="..." class="block w-[254px] mx-auto"/>
    <section class="flex flex-col items-center justify-center gap-8 lg:gap-4">
        <h1 class="text-[25px] font-inter font-semibold text-center text-capital-black leading-[37px] lg:leading-[130%]">Let’s Get to Know Your Business</h1>
        <p class="text-center leading-[29px] pb-4 text-capital-gray-dark font-inter text-[17px] lg:text-sm font-light">Investors need to see the full picture before they invest. Your business details help us connect you with the right funding and expertise. Let’s make sure your profile stands out</p>
        <app-button className="bg-capital-green-75 lg:bg-capital-yellow-100 lg:hover:bg-capital-yellow-75 transition-all w-max mx-auto md:!py-3 md:!text-sm" label="Strengthen Your Investment Readiness"></app-button>
    </section>
</div>
