<form class="h-full w-full flex items-center justify-center overflow-hidden" [formGroup]="forgotPassForm" (ngSubmit)="submitForm()">
    <div class="flex flex-col gap-[30px] w-[95%] lg:w-[80%]"  [@slideIn]="animationState">
     
        <div class="md:hidden  rounded-full flex justify-start">
            <svg  class="size-5 rounded-full p-1 border"  xmlns="http://www.w3.org/2000/svg" fill="#F4F7FF" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
              </svg>
        </div>
        
        <button (click)="authBack()" type="button" title="Go Back" class="hidden hover:bg-capital-yellow-light transition-all border-2 border-capital-yellow-75 h-[34px] w-[34px] rounded-full md:flex items-center justify-center">
            <i class="pi pi-arrow-left text-capital-yellow-75 text-xs"></i>
        </button>


        <!-- Set a new passwword -->
        <ng-container *ngIf="current_form === 'set_password'">
            <section class="flex flex-col gap-3" [@slideIn]="animationState">
                <h1 class="font-inter text-2xl text-capital-black leading-[130%] font-semibold">Set a New Password</h1>
                <h2 class="text-[#8692A6] font-inter font-light">Create a strong password tosecure your account</h2>
            </section>

            <hr/>


            <div class="grid grid-cols-2 gap-x-4 gap-y-6">
1                <input-field  formControlName="confirmPassword" (onIconTouch)="togglePasswordVisibility()" type="password" [type]="isPasswordVisible? 'text': 'password'" [icon]="isPasswordVisible? 'pi pi-eye-slash' : 'pi pi-eye'" placeholder="Re-enter password" label="Confirm New Password"/>
            </div>
            <!-- <app-button [showContent]="!isLoading" [disabled]="signInForm.invalid || isLoading" className="bg-capital-green-75 hover:bg-capital-green-100 transition-all" label="Reset Password & Sign In">
                <app-loader />
            </app-button> -->
        </ng-container>



        <!-- Check Your inbox -->
        <ng-container *ngIf="current_form === 'check_inbox'">
            <section class="flex flex-col gap-3" [@slideIn]="animationState">
                <h1 class="font-inter text-3xl text-capital-black leading-[130%] font-semibold">Check Your Inbox!</h1>
                <h2 class="text-[#8692A6] font-inter font-light">We've sent a password reset Link to example&#64;gmail.com . Click the link to set a new password</h2>
            </section>

            <hr/>

            <!-- <app-button [showContent]="!isLoading" [disabled]="signInForm.invalid || isLoading" className="bg-capital-green-100 hover:bg-capital-green-75 transition-all" label="Resend Link">
                <app-loader />
            </app-button> -->
        </ng-container>



        <!-- Forgot Password -->
        <ng-container *ngIf="current_form === 'forgot'" > 
            <section class="flex flex-col gap-3"  [@slideIn]="animationState">
                <h1 class="font-inter text-3xl text-capital-black leading-[130%] font-semibold">Forgot password?</h1>
                <h2 class="text-[#8692A6] font-inter font-light">No worries! Enter your email, and we'll send you a password reset link</h2>
            </section>

            <hr/>

            <div class="grid grid-cols-2 gap-x-4 gap-y-6">
               
                <div class="col-span-2">
                    <input-field formControlName="email" type="email" placeholder="Enter Email" label="Email"/>
                </div>

            </div>

            <app-button [showContent]="true" [disabled]="forgotPassForm.invalid" className="bg-capital-green-100 hover:bg-capital-green-75 transition-all" label="Send Reset Link">
                <app-loader />
            </app-button>
        </ng-container>

    </div>
</form>

<!-- <ng-container *ngIf="signup$ | async"></ng-container>
<ng-container *ngIf="isLoading$ | async"></ng-container> -->