:host ::ng-deep .p-carousel {
  .p-carousel-content-container {
    position: relative;
    height: 100%;
    .p-carousel-content {
      height: 100%;
      .p-carousel-viewport {
        .p-carousel-item-list {
          height: 100% !important;
        }
      }
    }
    .p-carousel-indicator-list {
      position: absolute;
      bottom: 8%;
      width: 60%;
      justify-content: flex-start;
      left: 1rem;
      flex-wrap: nowrap;
      .p-carousel-indicator {
        width: 100%;
        .p-carousel-indicator-button {
          width: 100%;
          height: 3px;
          border-radius: 40px;
          background-color: #FFFBF1;
        }
      }
      .p-carousel-indicator-active .p-carousel-indicator-button {
        background-color: #FDCB44 !important;
      }
    }
  }
}
