<ng-container *ngIf="stats$ | async"></ng-container>
<ng-container *ngIf="investorBusinessRelations$ | async"></ng-container>

<ng-container *ngIf="scoring$ | async"></ng-container>
<ng-container *ngIf="submissions$ | async"></ng-container>
<ng-container *ngIf="investorPreparednessGeneralSummary$ | async"></ng-container>
<ng-container *ngIf="investorEligibilityGeneralSummary$ | async"></ng-container>
<ng-container *ngIf="preparednessSubmissions$ | async"></ng-container>
<ng-container *ngIf="esgSubmissions$ | async"></ng-container>
<ng-container *ngIf="factSheetSubmissions$ | async"></ng-container>
<ng-container *ngIf="nextRoute$ | async"></ng-container>
<ng-container *ngIf="response$ | async"></ng-container>
<ng-container *ngIf="declineReasons$ | async"></ng-container>



<app-overview-section>
  <app-card [detail]="{title: 'Investor/Funder Eligibility', icon: eligibilityAnswers.length>0? '' :'question_mark', value: eligibilityAnswers.length > 0?investorEligibilityScore+' %': '', featured: true}"
    (click)="showDialog(investorEligibilityScore)">
    <p class="helper__text text__yellow">See suggested actions</p> 
  </app-card>
  <app-card [detail]="{title: 'Investor/Funder Preparedness', icon: preparednessAnswers.length>0?'':'question_mark', value: preparednessAnswers.length>0? investorPreparednessScore+' %': '', featured: true}"
    (click)="showDialog(investorPreparednessScore)">
    <p class="helper__text text__yellow">See suggested actions</p>
  </app-card>


  <app-card [detail]="{title: 'Impact Element Assessment', icon: impactElementAnswers.length >0? 'description':'question_mark', value: '', featured: true}"
  (click)="setDialog('impactAssesment')">
    <p class="helper__text text__red">View</p>
  </app-card>

  <app-card 
    [detail]="{title: 'Business Fact Sheet', icon: factSheetAnswers.length? 'description': 'question_mark', value: '', featured: true}"
    (click)="setDialog('factSheet')">
    <p class="helper__text text__red">View</p>
  </app-card>

</app-overview-section>

<app-overview-section section_title="Insights">

  <app-card (click)="showMatchedInvestors()"
    [detail]="{title: 'Matched Investors/Funders', value: (matchedInvestors.length).toString(), featured: true,}">
    <p class="helper__text text__red">View</p>
  </app-card>

  <app-card (click)="showConnectionRequests()"
    [detail]="{title: 'Connection Requests', value: (stats.requested || 0).toString(), featured: true}">
    <p class="helper__text text__red">View</p>
  </app-card>

  <app-card (click)="showConnectedInvestors()"
    [detail]="{title: 'Connected Investors', value: (stats.connected || 0).toString(), featured: true}">
    <p class="helper__text text__red">View</p>
  </app-card>
  
  <app-card (click)="showDeclinedConnections()"
    [detail]="{title: 'Connections Declined', value: (stats.declined || 0).toString(), featured: true}">
    <p class="helper__text text__red">View</p>
  </app-card>
</app-overview-section>

<app-modal [visible]="visible">

  <div #content>
    <img src="../../../../../../assets/img/logo.png" alt="logo" />
    <section class="brand-details">
      <h2>{{currentModal==="eligibility"? "Your Investor/Funder Eligibility Report"
          :currentModal==="preparedness"?"Your Investor/Funder Preparedness Report":""}}</h2>
      <h3>{{ currentCompany.name }}</h3>
      <p>Country - {{ currentCompany.country }}</p>
      <p>Sector - {{ currentCompany.businessSector }}</p>
    </section>
    <div class="content">
      <a routerLink="/business/investor-eligibility" class="edit__cta__btn" *ngIf="currentModal === 'eligibility' && eligibilityAnswers.length > 0">Edit Submission</a>
      <a routerLink="/business/investor-preparedness" class="edit__cta__btn" *ngIf="currentModal === 'preparedness' && preparednessAnswers.length > 0">Edit Submission</a>
      <section class="score-section">
        <h3>{{currentModal==="eligibility"? "Your Investor/Funder Eligibility" :currentModal==="preparedness"?"Your Investor/Funder Preparedness":""}}</h3>
        <h2>{{currentModal==="eligibility"? investorEligibilityScore
          :currentModal==="preparedness"? investorPreparednessScore:""}}%</h2>
      </section>
      <h2 class="title">Feedback and recommendations</h2>

      <div
        *ngIf="(currentModal === 'eligibility' && eligibilityAnswers.length > 0) || (currentModal === 'preparedness' && preparednessAnswers.length > 0)">
        <ul class="responses">
          <li *ngFor="let submission of (currentModal === 'eligibility' ? eligibilityAnswers : preparednessAnswers)">
            <h3>{{ submission.question.text | removeQuotes }}</h3>
            @if ((submission?.answers?.length || 0) >1) {
              <div class="list">
                <h4 *ngFor="let answer of submission?.answers">{{ answer.text | removeQuotes }}</h4>
              </div>
            }@else{
              <h4>{{ submission.answer.text == "OPEN"? submission.text : submission.answer.text | removeQuotes }}</h4>
            }
            <p>{{ submission.explanation | removeQuotes }}</p>
          </li>
        </ul>
      </div>
      <div
        *ngIf="(currentModal === 'eligibility' && eligibilityAnswers.length === 0) || (currentModal === 'preparedness' && preparednessAnswers.length === 0)">
        <p>No submissions found.  
          <a [routerLink]="next_route.url"
          class="text-blue-500 hover:text-blue-700 underline"
          > <strong>add submission</strong></a>
        </p>
      </div>
    </div>



    <div class="executive-summary">
      <section class="score-section">
        <h3>Score</h3>
        <h2>{{currentModal==="eligibility" && InvestorEligibilitygeneralSummary ?
          InvestorEligibilitygeneralSummary.score
          :currentModal==="preparedness" && InvestorPreparednessgeneralSummary
          ?InvestorPreparednessgeneralSummary.score:""}}</h2>
      </section>

      <p>{{currentModal==="eligibility" && InvestorEligibilitygeneralSummary ? InvestorEligibilitygeneralSummary.comment
        :currentModal==="preparedness" && InvestorPreparednessgeneralSummary
        ?InvestorPreparednessgeneralSummary.comment:""}}</p>

      <h2 class="title implication">Implication</h2>
      <p>{{currentModal==="eligibility" && InvestorEligibilitygeneralSummary ?
        InvestorEligibilitygeneralSummary.implication
        :currentModal==="preparedness" &&
        InvestorPreparednessgeneralSummary?InvestorPreparednessgeneralSummary.implication:""}}</p>
      <h2 class="title">Action</h2>

      <p>{{currentModal==="eligibility" && InvestorEligibilitygeneralSummary ? InvestorEligibilitygeneralSummary.action
        :currentModal==="preparedness" &&
        InvestorPreparednessgeneralSummary?InvestorPreparednessgeneralSummary.action:""}}</p>
      <h2 class="title">Recommendation</h2>

      <p>{{currentModal==="eligibility" && InvestorEligibilitygeneralSummary?
        InvestorEligibilitygeneralSummary.recommendation
        :currentModal==="preparedness" &&
        InvestorPreparednessgeneralSummary?InvestorPreparednessgeneralSummary.recommendation:""}}</p>
    </div>


    <div class="disclaimer">
      <p class="italic text-red-500 ">Disclaimer: It is recommended that once a suitable investor has been identified, a
        transaction advisor should be engaged to oversee the capital structuring process until the final investment.
        This advisory role is crucial in ensuring that the capital structure is optimized to meet the goals and
        objectives of the business and business owners whilst minimizing the risks. The transaction advisor will work
        closely with all parties involved in the transaction, including the business, potential financer, and other
        advisors including the legal and tax</p>
    </div>
    <footer>
      <p>Capital Connect Africa | Email: services&#64;capitalconnect.africa | Address:4th Floor, CVS Plaza Lenana Road,
        Nairobi</p>
    </footer>
  </div>



  <div class="details flex flex-col gap-4 pb-12">
    <p class="sub-title">On Capital Connect Africa you can:</p>
    <ul class="flex-col flex gap-2 actions-list">
      <li>Get a detailed report on your company's investment readiness</li>
      <li>Plan your next milestones to unlock more capital</li>
      <li>Learn to speak investor and break down barriers</li>
      <li>Match with investors and organizations that are a good fit for you</li>
    </ul>
    <div class="call-to-action flex gap-6 items-center">
      <a href="mailto: services@capitalconnect.africa">Contact your account manager</a>
      <a href="javascript:void(0);" (click)="generatePDF()">Download Report</a>
      <a href="mailto:?subject=Investor%20Ready%20Report&body=Attached%20is%20the%20Investor%20Ready%20Report%20you%20requested.%0D%0A%0D%0AKind%20regards,%0D%0A%0D%0A{{currentCompany.name}}"
        target="_blank">Email Report</a>

    </div>
  </div>
</app-modal>


<app-modal [(visible)]="signalService.matchedInvestorsDialogIsVisible" title="Matched Investors" [value]="stats.matched"
  helperText="You had a good match with this investor">
  <div class="flex mx-auto items-center justify-center text-center no-data" *ngIf="!matchedInvestors.length">
    You have not matched with any investors yet <br /> check again later
  </div>
  <div class="flex flex-col gap-4" *ngIf="matchedInvestors.length">
    <p-table [value]="matchedInvestors" [tableStyle]="{ 'width': '100%' }" [paginator]="true" [rows]="6">
      <ng-template pTemplate="header">
          <tr>
              <th>HO Location</th>
              <th>Investor Type</th>
              <th>Min Funding</th>
              <th>Max Funding</th>
              <th>Action</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-matchedInvestor>
          <tr>
              <td>{{ matchedInvestor.headOfficeLocation }}</td>
              <td>{{ matchedInvestor.investorType }}</td>
              <td>${{ matchedInvestor.minimumFunding | numberabbreviation}}</td>
              <td>
                <ng-container *ngIf="matchedInvestor.noMaximumFunding; else withMaxFunding">
                  Unlimited
                </ng-container>
                <ng-template #withMaxFunding>
                  ${{ matchedInvestor.maximumFunding | numberabbreviation }}
                </ng-template>
              </td>
              <td>
                <div class="cta__wrap">
                  <button class="btn__cta text-blue-600" (click)="viewMatchedInvestor(matchedInvestor.id)">View</button>
                </div>
              </td>
          </tr>
      </ng-template>
  </p-table>
  </div>
</app-modal>

<app-modal [(visible)]="signalService.declinedConnectionsDialogIsVisible" title="Declined Connections" [value]="stats.declined"
  helperText="These connections were declined">
  <div class="flex mx-auto items-center justify-center text-center no-data" *ngIf="!declinedConnections.length">
    None of your conections was recalled 
  </div>
  <div class="flex flex-col gap-4" *ngIf="declinedConnections.length">
    <p-table [value]="declinedConnections" [tableStyle]="{ 'width': '100%' }" [paginator]="true" [rows]="6">
      <ng-template pTemplate="header">
          <tr>
              <th>HO Location</th>
              <th>Number of Reasons</th>
              <th>Action</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-declinedConnection>
          <tr>
              <td>{{ declinedConnection.headOfficeLocation }}</td>
              <td>{{ declinedConnection.declineReasons.length }}</td>
              
              <td>
                <div class="cta__wrap">
                  <button class="btn__cta text-blue-600" (click)="viewReasonsForDecline(declinedConnection.id)">See why</button>
                </div>
              </td>
          </tr>
      </ng-template>
  </p-table>
  </div>
</app-modal>

<app-modal [(visible)]="signalService.connectedInvestorsDialogIsVisible" title="Connected Investors" [value]="stats.connected"
  helperText="You are connected to this investor">
  <div class="flex mx-auto items-center justify-center text-center no-data" *ngIf="!connectedInvestors.length">
    You are not connected with any investors yet <br /> check again later
  </div>
  <div class="flex flex-col gap-4" *ngIf="connectedInvestors.length">
    <p-table [value]="connectedInvestors" [tableStyle]="{ 'width': '100%' }" [paginator]="true" [rows]="6">
      <ng-template pTemplate="header">
          <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Min Funding</th>
              <th>Max Funding</th>
              <th>Action</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-connectedInvestor>
          <tr>
              <td>{{ connectedInvestor.organizationName }}</td>
              <td>{{ connectedInvestor.emailAddress }}</td>
              <td>${{ connectedInvestor.minimumFunding | numberabbreviation}}</td>
              <td>
                <ng-container *ngIf="connectedInvestor.noMaximumFunding; else withMaxFunding">
                  Unlimited
                </ng-container>
                <ng-template #withMaxFunding>
                  ${{ connectedInvestor.maximumFunding | numberabbreviation }}
                </ng-template>
              </td>
              <td>
                <div class="cta__wrap">
                  <button class="btn__cta text-blue-600" (click)="viewConnectedInvestor(connectedInvestor.id)">View</button>
                  <!-- <button class="btn__cta text-rose-600" (click)="revokeConnection(connectedInvestor.id)">Revoke</button> -->
                </div>
              </td>
          </tr>
      </ng-template>
  </p-table>
  </div>
</app-modal>

<app-modal [(visible)]="signalService.connectionRequestsDialogIsVisible" title="Connection Requests" [value]="stats.requested"
  helperText="This investor requested to connect with you">

  <div class="flex mx-auto items-center justify-center text-center no-data" *ngIf="!connectionRequests.length">
    You have no connections requests from any investors yet <br /> check again later
  </div>
  <div class="flex flex-col gap-4" *ngIf="connectionRequests.length && !select_reasons">
    <p-table [value]="connectionRequests" [tableStyle]="{ 'width': '100%' }" [paginator]="true" [rows]="6">
      <ng-template pTemplate="header">
          <tr>
              <th>Investor Type</th>
              <th>Min Funding</th>
              <th>Max Funding</th>
              <th>Action</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-connectionRequest>
          <tr>
            <td>{{ connectionRequest.investorType }}</td>
            <p></p>
              <td>${{ connectionRequest.minimumFunding | numberabbreviation}}</td>
              <td>
                <ng-container *ngIf="connectionRequest.noMaximumFunding; else withMaxFunding">
                  Unlimited
                </ng-container>
                <ng-template #withMaxFunding>
                  ${{ connectionRequest.maximumFunding | numberabbreviation }}
                </ng-template>
              </td>
              
              <td>
                <div class="cta__wrap">
                  <button class="btn__cta text-blue-600" (click)="viewConnectionRequest(connectionRequest.id)">View</button>
                  <button class="btn__cta text-teal-600" (click)="approveConnectionRequest(connectionRequest.uuid)">Approve</button>
                  <button class="btn__cta text-rose-600" (click)="declineConnectionRequest(connectionRequest.uuid)">Decline</button>
                </div>
              </td>
          </tr>
      </ng-template>
  </p-table>
  </div>


  <div *ngIf="select_reasons" >
    <form  [formGroup]="declineForm">
      <div class="form_content__container">
        <div class="input__wrapper">
          <label class="input__label">Select The Reasons for Declining<sup>*</sup></label>
          <p-multiSelect class="input__field p-6" styleClass="w-full gap-4" optionValue="reason"
            [options]="declineReasons" formControlName="reasons" optionLabel="reason"
            placeholder="Select reasons"></p-multiSelect>
  
          <div class="button-group flex-end flex justify-between space-x-4 mt-6">
            <button pButton type="button" class="btn btn-tertiary mt-5 btn-sm" label="Submit" (click)="back()">Back</button>

            
            <button pButton type="button" class="btn btn-primary mt-5 btn-sm" label="Submit" (click)="submit()">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</app-modal>



<!-- Business fact Report -->
<app-modal [visible]="factSheetVisible">

  <div #business_content>
    <img src="../../../../../../assets/img/logo.png" alt="logo" />
    <section class="brand-details">
      <h2>Business Fact Sheet Report</h2>
      <h3>{{ currentCompany.name }}</h3>
      <p>Country - {{ currentCompany.country }}</p>
      <p>Sector - {{ currentCompany.businessSector }}</p>
    </section>
    <div class="content">
      <a routerLink="/business/financials" class="edit__cta__btn" *ngIf="factSheetAnswers.length > 0">Edit Submission</a>
      <h2 class="title">Feedback and recommendations</h2>

      <div *ngIf="(factSheetAnswers.length > 0)">
        <ul class="responses">
          <li *ngFor="let submission of  factSheetAnswers ">
            <h3>{{ submission.question.text | removeQuotes }}</h3>
            @if ((submission?.answers?.length || 0) >1) {
              <div class="list">
                <h4 *ngFor="let answer of submission?.answers">{{ answer.text | removeQuotes }}</h4>
              </div>
            }@else{
              <h4>{{ submission.answer.text == "OPEN"? submission.text : submission.answer.text | removeQuotes }}</h4>
            }
            <p>{{ submission.explanation | removeQuotes }}</p>
          </li>
        </ul>
      </div>
      <div
        *ngIf="(factSheetAnswers.length === 0)">
        <p>No submissions found.  
          <a [routerLink]="[next_route.url]"
          class="text-blue-500 hover:text-blue-700 underline"
          > <strong>add submission</strong></a>
        </p>
      </div>
    </div>


    <div class="disclaimer">
      <p class="italic text-red-500 ">Disclaimer: It is recommended that once a suitable investor has been identified, a
        transaction advisor should be engaged to oversee the capital structuring process until the final investment.
        This advisory role is crucial in ensuring that the capital structure is optimized to meet the goals and
        objectives of the business and business owners whilst minimizing the risks. The transaction advisor will work
        closely with all parties involved in the transaction, including the business, potential financer, and other
        advisors including the legal and tax</p>
    </div>
    <footer>
      <p>Capital Connect Africa | Email: services&#64;capitalconnect.africa | Address:4th Floor, CVS Plaza Lenana Road,
        Nairobi</p>
    </footer>
  </div>



  <div class="details flex flex-col gap-4 pb-12">
    <p class="sub-title">On Capital Connect Africa you can:</p>
    <ul class="flex-col flex gap-2 actions-list">
      <li>Get a detailed report on your company's investment readiness</li>
      <li>Plan your next milestones to unlock more capital</li>
      <li>Learn to speak investor and break down barriers</li>
      <li>Match with investors and organizations that are a good fit for you</li>
    </ul>
    <div class="call-to-action flex gap-8 items-center">
      <a href="mailto: services@capitalconnect.africa">Contact your account manager</a>
      <a href="javascript:void(0);" (click)="generateBusinessInformationReport()">Download Report</a>
      <a href="mailto:?subject=Business%20Information%20Report&body=Attached%20is%20the%20Business%20Information%20Report%20you%20requested.%0D%0A%0D%0AKind%20regards,%0D%0A%0D%0A{{currentCompany.name}}"
        target="_blank">Email Report</a>
    </div>
  </div>
</app-modal>



<!-- Impact Element Report -->
<app-modal [visible]="impactElementVisible">

  <div #impact_content>
    <img src="../../../../../../assets/img/logo.png" alt="logo" />
    <section class="brand-details">
      <h2>Impact Element Assesment Report</h2>
      <h3>{{ currentCompany.name }}</h3>
      <p>Country - {{ currentCompany.country }}</p>
      <p>Sector - {{ currentCompany.businessSector }}</p>
    </section>
    <div class="content">
      <a routerLink="/business/impact-assessment" class="edit__cta__btn" *ngIf="impactElementAnswers.length > 0">Edit Submission</a>
      <h2 class="title">Feedback and recommendations</h2>

      <div *ngIf="(impactElementAnswers.length > 0)">
        <ul class="responses">
          <li *ngFor="let submission of  impactElementAnswers ">
            <h3>{{ submission.question.text | removeQuotes }}</h3>
            @if ((submission?.answers?.length || 0) >1) {
              <div class="list">
                <h4 *ngFor="let answer of submission?.answers">{{ answer.text | removeQuotes }}</h4>
              </div>
            }@else{
              <h4>{{ submission.answer.text == "OPEN"? submission.text : submission.answer.text | removeQuotes }}</h4>
            }
            <p>{{ submission.explanation | removeQuotes }}</p>
          </li>
        </ul>
      </div>
      <div
        *ngIf="(impactElementAnswers.length === 0)">
        <p>No submissions found.  
          <a [routerLink]="[next_route.url]"
          class="text-blue-500 hover:text-blue-700 underline"
          ><strong>add submission</strong></a>
        </p>
      </div>
    </div>


    <div class="disclaimer">
      <p class="italic text-red-500 ">Disclaimer: It is recommended that once a suitable investor has been identified, a
        transaction advisor should be engaged to oversee the capital structuring process until the final investment.
        This advisory role is crucial in ensuring that the capital structure is optimized to meet the goals and
        objectives of the business and business owners whilst minimizing the risks. The transaction advisor will work
        closely with all parties involved in the transaction, including the business, potential financer, and other
        advisors including the legal and tax</p>
    </div>
    <footer>
      <p>Capital Connect Africa | Email: services&#64;capitalconnect.africa | Address:4th Floor, CVS Plaza Lenana Road,
        Nairobi</p>
    </footer>
  </div>



  <div class="details flex flex-col gap-4 pb-12">
    <p class="sub-title">On Capital Connect Africa you can:</p>
    <ul class="flex-col flex gap-2 actions-list">
      <li>Get a detailed report on your company's investment readiness</li>
      <li>Plan your next milestones to unlock more capital</li>
      <li>Learn to speak investor and break down barriers</li>
      <li>Match with investors and organizations that are a good fit for you</li>
    </ul>
    <div class="call-to-action flex gap-8 items-center">
      <a href="mailto: services@capitalconnect.africa">Contact your account manager</a>
      <a href="javascript:void(0);" (click)="generateImpactElementReport()">Download Report</a>
      <a href="mailto:?subject=Impact%20Element%20Assesment%20Report&body=Attached%20is%20the%20Impact%20Element%20Assement%20Report%20you%20requested.%0D%0A%0D%0AKind%20regards,%0D%0A%0D%0A{{currentCompany.name}}"
        target="_blank">Email Report</a>
    </div>
  </div>
</app-modal>