<div class="flex flex-col gap-1 relative items-start w-full" [class]="className">
    <label class="text-capital-gray-dark font-inter text-[13px] md:text-sm font-normal" [class]="labelClassName" *ngIf="label">{{label}}</label>
    <p-select *ngIf="type === 'single'" class="border shadow-none focus:!ring-black pl-4 py-[9px] border-[#cbd5e1c7] flex w-full rounded text-sm font-inter font-light" [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [placeholder]="placeholder || ''"/>
    <p-multiselect *ngIf="type === 'multiple'" class="border focus:!ring-black pl-4 py-[9px] border-[#cbd5e1c7] flex w-full rounded text-sm font-inter font-light" [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [placeholder]="placeholder || ''"/>
</div>