:host ::ng-deep {
    .p-multiselect-filter{
      padding: .5rem 1rem;
    }
    .p-select-item,
    .p-multiselect-item,
    .p-multiselect-label,
    .p-select-label{
      white-space: wrap!important;
    }


    .p-icon{
        height: 10px!important;
    }

    .p-multiselect-panel ul,
    .p-select ul{
        padding: .5rem;
        display: flex;
        flex-direction: column;
        li{
          display: flex;
          padding: .5rem;
          gap: .5rem;
          align-items: center;
          .p-checkbox-box{
            display: inline-block;
            border: 1px solid #f1f1f1;
          }
        }
      }
  }