<ng-container *ngIf="createBalanceSheetRecord$ | async"></ng-container>
<ng-container *ngIf="getBalanceSheetRecordById$ | async"></ng-container>
<ng-container *ngIf="getBalanceSheetRecordByCompanyId$ | async"></ng-container>
<ng-container *ngIf="updateBalanceSheetRecord$ | async"></ng-container>
<ng-container *ngIf="financialInfoRecords$  | async"></ng-container>



<div class="main">
  <div class="navbar">
    <app-navbar onDashboard="true" [title]="'Financial Reports | Balance Sheet'"></app-navbar>
  </div>
  <main>
    <div class="left__col">
      <div class="flex flex-col gap-4">
        <div class="p-6 bg-gray-50 rounded">
          <div class="financial-container">
            <div class="switch_parent" *ngIf="!edit_mode">
              <P><label>Edit Mode</label></P>
              <label class="switch">
                <input type="checkbox" [(ngModel)]="edit_mode" (ngModelChange)="onToggleView()" />
                <span class="slider round"></span>
              </label>
            </div>

            <div class="switch_parent" *ngIf="edit_mode">
              <P><label>View Mode</label></P>
              <label class="switch">
                <input type="checkbox" [(ngModel)]="edit_mode" (ngModelChange)="onToggleEdit()" />
                <span class="slider round"></span>
              </label>
            </div>

            <div class="btn__group">
              <button class="btn btn-sm mb-4" (click)="addBalanceSheetRecord()">
                New Record
              </button>
            </div>
          </div>

          <table>

            <thead>
              <tr>
                <th>Balance Sheet</th>
                <th *ngFor="let year of sortedYears">
                  {{ year }}
                 <mat-icon class="small-icon" *ngIf="edit_mode"  (click)="addBalanceSheetRecord(year)"><small>edit</small></mat-icon>
                </th>
              </tr>
            </thead>

            <tbody *ngIf="balanceSheetData">
              <tr class="section-header">
                <td [colSpan]="sortedYears.length + 1">Assets</td>
              </tr>
              <tr>
                <td>Land & Property</td>
                <td *ngFor="let year of sortedYears">
                  {{ balanceSheetData[year].landProperty | currency }}
                </td>
              </tr>
              <tr>
                <td>Plant & Equipment</td>
                <td *ngFor="let year of sortedYears">
                  {{ balanceSheetData[year].plantEquipment | currency }}
                </td>
              </tr>
              <tr>
                <td>Other Non Current Assets</td>
                <td *ngFor="let year of sortedYears">
                  {{ balanceSheetData[year].otherNonCurrentAssets | currency }}
                </td>
              </tr>

              <tr>
                <td>Current Assets</td>
                <td *ngFor="let year of sortedYears">
                  {{ balanceSheetData[year].otherCurrentAssets | currency }}
                </td>
              </tr>
              
              <tr>
                <td>Trade Receivables</td>
                <td *ngFor="let year of sortedYears">
                  {{ balanceSheetData[year].tradeReceivables | currency }}
                </td>
              </tr>

              <tr>
                <td>Inventory</td>
                <td *ngFor="let year of sortedYears">
                  {{ balanceSheetData[year].inventory | currency }}
                </td>
              </tr>
              <tr>
                <td>Cash</td>
                <td *ngFor="let year of sortedYears">
                  {{ balanceSheetData[year].cash | currency }}
                </td>
              </tr>
              <tr>
                <td>Other Current Assets</td>
                <td *ngFor="let year of sortedYears">
                  {{ balanceSheetData[year].otherCurrentAssets | currency }}
                </td>
              </tr>
              <tr class="total-row">
                <td>Total Assets</td>
                <td *ngFor="let year of sortedYears">
                  {{ balanceSheetData[year].totalAssets | currency }}
                </td>
              </tr>

              <tr class="section-header">
                <td [colSpan]="sortedYears.length + 1">Liabilities & Equity</td>
              </tr>
              <tr>
                <td>Trade Payables</td>
                <td *ngFor="let year of sortedYears">
                  {{ balanceSheetData[year].tradePayables | currency }}
                </td>
              </tr>
              <tr>
                <td>Other Current Liabilities</td>
                <td *ngFor="let year of sortedYears">
                  {{ balanceSheetData[year].otherCurrentLiabilities | currency }}
                </td>
              </tr>
              <tr>
                <td>Loans and Overdraft</td>
                <td *ngFor="let year of sortedYears">
                  {{ balanceSheetData[year].loans | currency }}
                </td>
              </tr>
              <tr>
                <td>Capital and reserves</td>
                <td *ngFor="let year of sortedYears">
                  {{ balanceSheetData[year].capital | currency }}
                </td>
              </tr>
              <tr>
                <td>Other non-current liabilities</td>
                <td *ngFor="let year of sortedYears">
                  {{ balanceSheetData[year].otherNonCurrentLiabilities | currency }}
                </td>
              </tr>
              <tr>
                <td>Net Profit</td>
                <td *ngFor="let year of sortedYears">{{ balanceSheetData[year].netProfit | currency }}</td>
              </tr>
              <tr class="total-row">
                <td>Total Liabilities and Equity</td>
                <td *ngFor="let year of sortedYears">
                  {{ balanceSheetData[year].totalLiabilities | currency }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="right__col">
      <app-advertisement-space [title]="'Advertise Here'"
        [body]="'This space is available for your advertising needs to reach more businesses. Contact us to learn more!'" />
    </div>
  </main>
</div>









<app-modal [(visible)]="createBalanceSheetModal" title="Balance Sheet Details"
  helperText="Add New Balance Sheet Details">
  <div class="form_content__container" [formGroup]="balanceSheetForm">
    <div class="form_row">
      <div class="input__wrapper">
        <label for="year" class="input__label">Financial Year</label>
        <p-dropdown  formControlName ="year"
            [options]="years"
            class ="input__field"
            styleClass ="w-full gap-4"
            (onChange)="onYearChange($event)"           
            placeholder="2025" />
        <!-- <input id="year" type="number" class="input__field" placeholder="2025" formControlName="year"   (input)="onYearInput()" /> -->
      </div>


      <div class="input__wrapper">
        <label for="year" class="input-label">Land Property</label>
        <input id="taxes" type="number" class="input__field" placeholder="0" formControlName="landProperty" />
      </div>
    </div>



    <div class="form_row">
      <div class="input__wrapper">
        <label for="year" class="input-label">Plant Equipment</label>
        <input id="taxes" type="number" class="input__field" placeholder="0" formControlName="plantEquipment" />
      </div>

      <div class="input__wrapper">
        <label for="year" class="input__label">Other Non Current Assets</label>
        <input id="taxes" type="number" class="input__field" placeholder="0" formControlName="otherNonCurrentAssets" />
      </div>

    </div>


    <div class="form_row">
      <div class="input__wrapper">
        <label for="year" class="input__label">Trade Receivables</label>
        <input id="taxes" type="number" class="input__field" placeholder="0" formControlName="tradeReceivables" />
      </div>
  
      <div class="input__wrapper">
        <label for="year" class="input__label">Cash</label>
        <input id="taxes" type="number" class="input__field" placeholder="0" formControlName="cash" />
      </div>
    </div>



     <div class="form_row">
        <div class="input__wrapper">
          <label for="year" class="input__label">Inventory</label>
          <input id="taxes" type="number" class="input__field" placeholder="0" formControlName="inventory" />
        </div>

        <div class="input__wrapper">
          <label for="year" class="input__label">Other Current Assets</label>
          <input id="taxes" type="number" class="input__field" placeholder="0" formControlName="otherCurrentAssets">
        </div>
     </div>



     
     <div class="form_row">
      <div class="input__wrapper">
        <label for="year" class="input__label">Trade Payables</label>
        <input id="taxes" type="number" class="input__field" placeholder="0" formControlName="tradePayables" />
      </div>

      <div class="input__wrapper">
        <label for="year" class="input__label">Other Current Liabilities</label>
        <input id="taxes" type="number" class="input__field" placeholder="0" formControlName="otherCurrentLiabilities" />
      </div>
    </div>


    
    <div class="form_row">
      <div class="input__wrapper">
        <label for="year" class="input__label">Loans</label>
        <input id="taxes" type="number" class="input__field" placeholder="0" formControlName="loans" />
      </div>
  
  
      <div class="input__wrapper">
        <label for="year" class="input__label">Capital</label>
        <input id="taxes" type="number" class="input__field" placeholder="0" formControlName="capital" />
      </div>
    </div>


    

    <div class="form_row">
      <div class="input__wrapper">
        <label for="year" class="input__label">Other Non Current Liabilities</label>
        <input id="taxes" type="number" class="input__field" placeholder="0"
          formControlName="otherNonCurrentLiabilities" />
      </div>

      <div class="input__wrapper" *ngIf="!edit_mode">
        <label for="year" class="input__label">Net Profit</label>
        <p class="input__field">{{netProfit}}</p>
      </div>
    </div>

   
    <div class="form_row">
      <div class="input__wrapper">
        <button class="btn btn-primary mt-2 save__btn" (click)="createBalanceSheet()">Save</button>
      </div>
    </div>

  </div>
</app-modal>