@use "sass:meta";
@tailwind base;
@tailwind components;
@tailwind utilities;
@include meta.load-css('../src/app/styles/main.scss');

@import "primeicons/primeicons.css";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



