<div class="h-[162px] w-[1227px] ">
    <div  class="flex flex-col items-start gap-2.5 p-0 w-[1108px] h-[172px] flex-none order-0 flex-grow-0">
        <div class="flex flex-row justify-between items-end p-[28px_30px] gap-[43px] w-[1108px] h-[172px] bg-white shadow-[0px_20px_50px_rgba(0,0,0,0.1)] rounded-[14px] flex-none order-0 self-stretch flex-grow-0">
            <p>100</p>
            <p>Total businesses reviewed</p>
            <p>+0.5% than last month</p>
        </div>  
        
        <div class="grid grid-cols-3 gap-[20px] mt-[20px]">
            <div class="investor-dashboard-card">
                <p>6</p>
                <p>Matched Businesses</p>
                <p>+0.5% than last month</p>
              </div>

              <div class="investor-dashboard-card">
                <p>6</p>
                <p>Matched Businesses</p>
                <p>+0.5% than last month</p>
              </div>

              <div class="investor-dashboard-card">
                <p>6</p>
                <p>Matched Businesses</p>
                <p>+0.5% than last month</p>
              </div>
              
              <div class="investor-dashboard-card">
                <p>6</p>
                <p>Matched Businesses</p>
                <p>+0.5% than last month</p>
              </div>
              
              <div class="investor-dashboard-card">
                <p>6</p>
                <p>Matched Businesses</p>
                <p>+0.5% than last month</p>
              </div>
              
              <div class="investor-dashboard-card">
                <p>6</p>
                <p>Matched Businesses</p>
                <p>+0.5% than last month</p>
              </div>

        </div>
    </div>
</div>