<ng-container *ngIf="revenueRecords$ | async"></ng-container>
<ng-container *ngIf="revenueRecord$ | async"></ng-container>
<ng-container *ngIf="createRevenueRecord$ | async"></ng-container>
<ng-container *ngIf="UpdateRevenueRecord$ | async"></ng-container>
<ng-container *ngIf="opexRecords$ | async"></ng-container>
<ng-container *ngIf="opexRecord$ | async"></ng-container>
<ng-container *ngIf="createOpexRecord$ | async"></ng-container>
<ng-container *ngIf="UpdateOpexRecord$ | async"></ng-container>
<ng-container *ngIf="financialInfoRecords$ | async"></ng-container>
<ng-container *ngIf="financialInfoRecord$ | async"></ng-container>
<ng-container *ngIf="CreateFinancialInfoRecord$ | async"></ng-container>
<ng-container *ngIf="UpdateFinancialInfoRecord$ | async"></ng-container>


<ng-container *ngIf="costOfSalesRecords$ | async"></ng-container>
<ng-container *ngIf="costOfSalesRecord$  | async"></ng-container>
<ng-container *ngIf="createCostOfSaleRecord$ | async"></ng-container>
<ng-container *ngIf="UpdateCostOfSaleRecord$ | async"></ng-container>
  



<div class="main">
  <div class="navbar">
    <app-navbar onDashboard="true" title="Financial Reports | Income Statement"></app-navbar>
  </div>
  <main>
    <div class="left__col">
      <div class="flex flex-col gap-4">

        <div class="p-6 bg-gray-50 rounded">
          <div class="financial-container">
            
            <div class="switch_parent" *ngIf="!edit_mode">
              <P><label>Edit Mode</label></P>                     
              <label class="switch"><input type="checkbox" [(ngModel)]="edit_mode" (ngModelChange)="onToggleView()" /> <span class="slider round"></span>
              </label>
            </div>

            <div class="switch_parent" *ngIf="edit_mode">
              <P><label>View Mode</label></P>                     
              <label class="switch"><input type="checkbox" [(ngModel)]="edit_mode" (ngModelChange)="onToggleEdit()" /> <span class="slider round"></span>
              </label>
            </div>
             
            <div class="btn__group">
              <button  *ngIf="false" class="btn btn-sm mb-4 btn-success-alt" (click)="exportRecord()">Export Financials</button>
              <button class="btn btn-sm mb-4" (click)="addFinancialRecord()">New Record</button>
            </div>
          
          </div>

          <div   #financials_content style="width: 100%!important">
            <app-view-financial-reporting *ngIf="!edit_mode"  [financialInfoRecords]="financialInfoRecords"></app-view-financial-reporting>
          </div>


          <div *ngIf="edit_mode">

          
          <p-table [value]="revenueData" [responsiveLayout]="'scroll'" class="p-datatable-gridlines">
            <ng-template pTemplate="header">
              <tr>
                <th class="td_description">
                  <span style="display: flex; align-items: center;">
                    Revenues

                    <mat-icon class="small-icon" style="font-size: 18px; margin-left: 4px;cursor: pointer;" (click)="addRevenueRecord()"
                    matTooltip="Click to add a revenue record" >add</mat-icon>
                  </span>
                </th>
                <th *ngFor="let year of years" class="td_description">
                  <span style="display: flex; align-items: center;">
                    {{ year }}
                    <mat-icon class="small-icon" style="font-size: 18px; margin-left: 4px; cursor: pointer;" (click)="handleYearClick(year)"
                    matTooltip="Click to update the financial records of this year"
                    >visibility</mat-icon>
                  </span>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
              <tr>              
                <td [ngClass]="{'font-bold': row.description === 'Total Revenue' || row.description === 'Cost of Sales'}" 
                style="width: 300px;">{{ row.description }}</td>
            <td *ngFor="let year of years" [ngClass]="{'red_txt': row[year]?.toString().charAt(0) === '-'}">
              {{ row[year] !== undefined && row[year] !== null ? (row[year] !== "0" ? (row[year] < 0 ? '(' + row[year].toString().slice(1) + ')' : row[year].toLocaleString()) : '-') : '-' }}
            </td>
              </tr>
            </ng-template>
          </p-table>

          <div class="mt-55">

          </div>

          <p-table [value]="costOfSalesData" [responsiveLayout]="'scroll'" class="p-datatable-gridlines">
            <ng-template pTemplate="header">
              <tr>
                <th>
                  <span style="display: flex; align-items: center;">
                    Cost Of Sales
                    <mat-icon class="small-icon" style="font-size: 18px; margin-left: 4px;cursor: pointer;" (click)="addCostOfSalesRecord()"
                    matTooltip="Click to add a cost of sales record"
                    >add</mat-icon>
                  </span>
                </th>
                <th *ngFor="let year of years">
                  <span style="display: flex; align-items: center;">
                    {{ year }}
                    <mat-icon class="small-icon" style="font-size: 18px; margin-left: 4px; cursor: pointer;" (click)="handleYearClick(year)"
                    matTooltip="Click to update the financial records of this year"
                    >visibility</mat-icon>
                  </span>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
              <tr>              
                <td [ngClass]="{'font-bold': row.description === 'Total Cost Of Sales' }" 
                 style="width: 300px;">{{ row.description }}</td>

                    <td *ngFor="let year of years" 
                        [ngClass]="{'red_txt' : row[year]?.toString().charAt(0) === '-'}">
                      {{ row[year] !== undefined && row[year] !== null ? (row[year] !== "0" ? (row[year]) : '-') : '-' }}
                    </td>

              </tr>
            </ng-template>
          </p-table>

          <div class="mt-55">

          </div>

          <p-table [value]="opexData" [responsiveLayout]="'scroll'" class="p-datatable-gridlines mt-5">
            <ng-template pTemplate="header">
              <tr>
                <th>
                  <span style="display: flex; align-items: center;"> Operating Expenses
                    <mat-icon class="small-icon" style="font-size: 18px; margin-left: 4px;cursor: pointer;" (click)="addOpexRecord()" matTooltip="Click to add an operating expense">add</mat-icon>
                  </span>
                </th>
                <th *ngFor="let year of years">
                  <span style="display: flex; align-items: center;"> {{ year }}
                    <mat-icon class="small-icon" style="font-size: 18px; margin-left: 4px; cursor: pointer;" (click)="handleYearClick(year)"
                    matTooltip="Click to update the financial records of this year"
                    >visibility</mat-icon>
                  </span>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-row>
              <tr>
                <td [ngClass]="{'font-bold': row.description === 'Taxes' || row.description === 'EBIT' || row.description === 'EBITDA' || row.description === 'Total Operating Expenses'
                || row.description === 'Depreciation and Amortisation' || row.description === 'Depreciation' || row.description === 'Interests' || row.description === 'Profit before Tax'
                || row.description === 'Net Profit' || row.description === 'EBITDA Margin' || row.description === 'Gross Margin'}"
                    style="width: 300px;">{{ row.description }}</td>

              <td *ngFor="let year of years" [ngClass]="{'red_txt': row[year]?.toString().charAt(0) === '-'}">
                {{ row[year] !== undefined && row[year] !== null ? (row[year] !== "0" ? (row[year] < 0 ? '(' + row[year].toString().slice(1) + ')' : row[year].toLocaleString()) : '-') : '-' }}
              </td>

              </tr>
            </ng-template>
          </p-table>

          </div>



        </div>
      </div>
    </div>


    <div class="right__col">
      <app-advertisement-space [title]="'Advertise Here'"
        [body]="'This space is available for your advertising needs to reach more businesses. Contact us to learn more!'" />
    </div>
  </main>
</div>



<app-modal [(visible)]="showModal" [title]="title" [helperText]="helperText">
  <!-- View Revenue Record -->
  <div *ngIf="view_revenue_records">
    <p><strong>Description:</strong> {{ currentRecord.description }}</p>
    <p><strong>Value:</strong> {{ currentRecord.value | currency }}</p>
  </div>

  <!-- Update Revenue Record -->
  <div *ngIf="update_revenue_records" class="form_content__container">
    <div class="input__wrapper">
      <label for="description" class="input__label">Description</label>
      <input id="description" type="text" class="input__field" [(ngModel)]="currentRecord.description" />
    </div>
    <div class="input__wrapper">
      <label for="value" class="input__label">Value</label>
      <input id="value" type="number" class="input__field" [(ngModel)]="currentRecord.value" />
    </div>
    <div class="cta__group">
      <button class="btn btn-primary mt-2 btn-sm" (click)="saveUpdates()">Save</button>
    </div>
  </div>

  <!-- View Opex Record -->
  <div *ngIf="view_opex_records">
    <p><strong>Description:</strong> {{ currentRecord.description }}</p>
    <p><strong>Value:</strong> {{ currentRecord.value | currency }}</p>
  </div>

  <!-- Update Opex Record -->
  <div *ngIf="update_opex_records" class="form_content__container">
    <div class="input__wrapper">
      <label for="description" class="input__label">Description</label>
      <input id="description" type="text" class="input__field" styleClass="w-full gap-4"
        [(ngModel)]="currentRecord.description" />
    </div>
    <div class="input__wrapper">
      <label for="value" class="input__label">Value</label>
      <input id="value" type="number" class="input__field" styleClass="w-full gap-4"
        [(ngModel)]="currentRecord.value" />
    </div>
    <div class="cta__group">
      <button class="btn btn-primary mt-2 btn-sm" (click)="saveUpdates()">Save</button>
    </div>
  </div>

</app-modal>




<app-modal [(visible)]="showFinancialModal" [title]="title" [helperText]="helperText">
  <div *ngIf="update_financial_info" class="financial-info-card">
    <div class="card-header">
      <p>Financial Information :<strong> {{ currentFinancialRecord.year }} </strong></p>
      <p class="edit-link" (click)="editReports()">Edit</p>
    </div>

    <div class="content">
      <!-- <p><strong>Financial Year :</strong> {{ currentFinancialRecord.year }}</p> -->
      <p><strong>EBITDA :</strong> {{ currentFinancialRecord.ebitda | currency }}</p>
      <p><strong>Depreciation and Amortisation :</strong> {{ currentFinancialRecord.amorDep | currency }}</p>
      <p><strong>EBIT:</strong> {{ currentFinancialRecord.ebit | currency }}</p>
      <p><strong>Interests:</strong> {{ currentFinancialRecord.interests | currency }}</p>
      <p><strong>Taxes:</strong> {{ currentFinancialRecord.taxes | currency }}</p> 
    </div>

    <div class="financial-section">
      <p class="status"><strong>Revenues</strong></p>
      <p-table [value]="currentFinancialRecord.revenues" [responsiveLayout]="'scroll'">
        <ng-template pTemplate="header">
          <tr>
            <th>Description</th>
            <th>Value</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>{{ item.description }}</td>
            <td>{{ item.value | currency }}</td>
            <td><mat-icon class="small-icon" (click)="showModalFunc(item, 'update_revenue_records')">edit</mat-icon></td>
          </tr>
        </ng-template>
      </p-table>
      <p *ngIf="currentFinancialRecord.revenues.length < 1" class="empty-state">No Revenues Found</p>
    </div>








    <div class="financial-section">
      <p class="status"><strong>Cost Of Sales</strong></p>
      <p-table [value]="currentFinancialRecord.costOfSales" [responsiveLayout]="'scroll'">
        <ng-template pTemplate="header">
          <tr>
            <th>Description</th>
            <th>Value</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>{{ item.description }}</td>
            <td>{{ item.value | currency }}</td>
            <td><mat-icon class="small-icon" (click)="showModalFunc(item, 'update_cost_of_sales_records')">edit</mat-icon></td>
          </tr>
        </ng-template>
      </p-table>
      <p *ngIf="currentFinancialRecord.costOfSales.length < 1" class="empty-state">No Cost Of Sales Found</p>
    </div>





    <div class="financial-section">
      <p class="status"><strong>Operating Expenses</strong></p>
      <p-table [value]="currentFinancialRecord.opex" [responsiveLayout]="'scroll'">
        <ng-template pTemplate="header">
          <tr>
            <th>Description</th>
            <th>Value</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
          <tr>
            <td>{{ item.description }}</td>
            <td>{{ item.value | currency }}</td>
            <td><mat-icon class="small-icon" (click)="showModalFunc(item, 'update_opex_records')">edit</mat-icon></td>
          </tr>
        </ng-template>
      </p-table>
      <p *ngIf="currentFinancialRecord.opex.length < 1" class="empty-state">No Operating Expenses Found</p>
    </div>

  
      <p class="status"><strong>Approval Status:</strong> <span class="status">{{ currentFinancialRecord.status }}</span></p>
      <p class="status"><strong>Notes:</strong> {{ currentFinancialRecord.notes }}</p>

      <!-- <p><button class="btn btn-primary btn-sm" (click)="goToYear(currentFinancialRecord.year)">View Balance Sheet</button></p> -->
    
    
  </div>

  <form *ngIf="!update_financial_info"  [formGroup]="financialForm" class="financial-info-card">
    <div class="card-header">
      <p><strong>Financial Information</strong></p>
      <p class="edit-link" (click)="unEditReports()">Back</p>
    </div>

    <div class="input__wrapper">
      <label for="year" class="input-label">Financial Year</label>
      <input id="year" type="number" class="input__field" placeholder="2025" formControlName="year"  readonly />
    </div>

    <div class="input__wrapper">
      <label for="revenues" class="input-label flex justify-between items-center">
        <span>Revenues</span> 
        <span >Revenue not found?
          <small class="text-blue-500 text-sm cursor-pointer" (click)="addRevenueRecord()">Add New</small>
        </span>
      </label>

      <p-multiSelect class="input__field" styleClass="w-full gap-4" formControlName="revenues"
        [options]="filteredRevenueRecords" optionLabel="description" optionValue="id" placeholder="Select Revenues">
      </p-multiSelect>
    </div>

    <div class="input__wrapper">
      <label for="costOfSales" class="input-label flex justify-between items-center">
        <span>Cost Of Sales</span> 
        <span >Cost Of sales not found?
          <small class="text-blue-500 text-sm cursor-pointer" (click)="addCostOfSalesRecord()">Add New</small>
        </span>
      </label>

      <p-multiSelect class="input__field" styleClass="w-full gap-4" formControlName="costOfSales"
        [options]="filteredCostOfSalesRecords" optionLabel="description" optionValue="id" placeholder="Select Cost Of Sales">
      </p-multiSelect>
    </div>
    

    <div class="input__wrapper">
      <!-- <label for="opex" class="input-label">Opex Records</label>  -->
      <label for="revenues" class="input-label flex justify-between items-center">
        <span>Operating Expenses</span> 
        <span >Opex not found?
          <small class="text-blue-500 text-sm cursor-pointer" (click)="addOpexRecord()">Add New</small>
        </span>
      </label>
      <p-multiSelect class="input__field" styleClass="w-full gap-4"  formControlName="opex"
        [options]="filteredOpexRecords" optionLabel="description"  optionValue="id"  placeholder="Select Operating Expenses"  >
      </p-multiSelect>
    </div>
  

  

    <div class="input__wrapper">
      <label for="year" class="input-label">Depreciation And Amortisation(Total value lost within this financial year)</label>
      <input id="taxes" type="number" class="input__field" placeholder="0" formControlName="amorDep"/>
    </div>

    <div class="input__wrapper">
      <label for="year" class="input-label">Interests(Interest earned within this financial year)</label>
      <input id="taxes" type="number" class="input__field" placeholder="0" formControlName="interests" />
    </div>

    <div class="input__wrapper">
      <label for="year" class="input-label">Taxes(Amount of taxes paid wthiin this financial year)</label>
      <input id="taxes" type="number" class="input__field" placeholder="0" formControlName="taxes" />
    </div>

    <div class="cta__group">
      <button class="btn btn-primary mt-2 btn-sm" (click)="saveUpdatesFinancial()">Save</button>
    </div>    
  </form>
</app-modal>




<app-modal [(visible)]="showCreateRecordModal" title="Add a Revenue" helperText="Create a New Revenue">
  <!-- Update Revenue Record -->
  <div class="form_content__container">
    <div class="input__wrapper">
      <label for="description" class="input__label">Description</label>
      <input id="description" type="text" class="input__field" [(ngModel)]="newRevenueRecord.description" />
    </div>
    <div class="input__wrapper">
      <label for="value" class="input__label">Value</label>
      <input id="value" type="number" class="input__field" [(ngModel)]="newRevenueRecord.value" />
    </div>
    <div class="input__wrapper">
      <label for="value" class="input__label">Year</label>
      <input id="value" type="number" class="input__field" [(ngModel)]="newRevenueRecord.year" />
    </div>
    <div class="cta__group">
      <button class="btn btn-primary mt-2 btn-sm" (click)="createRevenueRecord()">Save</button>
    </div>
  </div>
</app-modal>

<app-modal [(visible)]="showCreateCostOfSalesModal" title="Add a Cost Of Sale" helperText="Create a New Cost Of Sale">
  <!-- Update Revenue Record -->
  <div class="form_content__container">
    <div class="input__wrapper">
      <label for="description" class="input__label">Description</label>
      <input id="description" type="text" class="input__field" [(ngModel)]="newCostOfSalesRecord.description" />
    </div>
    <div class="input__wrapper">
      <label for="value" class="input__label">Value</label>
      <input id="value" type="number" class="input__field" [(ngModel)]="newCostOfSalesRecord.value" />
    </div>
    <div class="input__wrapper">
      <label for="value" class="input__label">Year</label>
      <input id="value" type="number" class="input__field" [(ngModel)]="newCostOfSalesRecord.year" />
    </div>
    <div class="cta__group">
      <button class="btn btn-primary mt-2 btn-sm" (click)="createCostOfSalesRecord()">Save</button>
    </div>
  </div>
</app-modal>


<app-modal [(visible)]="showCreateOpexModal" title="Add an Opex Record" helperText="Add a New Operating Expense Record">
  <!-- Update Revenue Record -->
  <div class="form_content__container">
    <div class="input__wrapper">
      <label for="description" class="input__label">Description</label>
      <input id="description" type="text" class="input__field" [(ngModel)]="newOpexRecord.description" />
    </div>
    <div class="input__wrapper">
      <label for="value" class="input__label">Value</label>
      <input id="value" type="number" class="input__field" [(ngModel)]="newOpexRecord.value" />
    </div>
    <div class="input__wrapper">
      <label for="value" class="input__label">Year</label>
      <input id="value" type="number" class="input__field" [(ngModel)]="newOpexRecord.year" />
    </div>
    <div class="cta__group">
      <button class="btn btn-primary mt-2 btn-sm" (click)="CreateOpexRecord()">Save</button>
    </div>
  </div>
</app-modal>



<!-- Existing modals above -->
<app-modal [(visible)]="createFinancialModal" title="Financial Information"  helperText="Add New Financial Information Details">
  <div class="form_content__container">
    <div class="input__wrapper">
      <label for="year" class="input__label">Financial Year</label>
      <input id="year" type="number" class="input__field" placeholder="2025" [(ngModel)]="newFinancialRecord.year" (ngModelChange)="updateRecordsByYear($event)" 
      />
    </div>

    <div class="input__wrapper">
      <label for="revenues" class="input-label flex justify-between items-center">
        <span>Revenues</span> 
        <span >Revenue not found?
          <small class="text-blue-500 text-sm cursor-pointer" (click)="addRevenueRecord()">Add New</small>
        </span>
      </label>


      <p-multiSelect class="input__field" styleClass="w-full gap-4" [(ngModel)]="newFinancialRecord.revenues"
        [options]="filteredRevenueRecords" optionLabel="description" optionValue="id" placeholder="Select Revenues">
      </p-multiSelect>
    </div>

    <div class="input__wrapper">
      <label for="costOfSales" class="input-label flex justify-between items-center">
        <span>Cost Of Sales</span> 
        <span >Cost Of Sales not found?
          <small class="text-blue-500 text-sm cursor-pointer" (click)="addCostOfSalesRecord()">Add New</small>
        </span>
      </label>


      <p-multiSelect class="input__field" styleClass="w-full gap-4" [(ngModel)]="newFinancialRecord.costOfSales"
        [options]="filteredCostOfSalesRecords" optionLabel="description" optionValue="id" placeholder="Select Cost Of Sales">
      </p-multiSelect>
    </div>


    <div class="input__wrapper">
      <!-- <label for="notes" class="input__label">Opex Records</label> -->
      <label for="revenues" class="input-label flex justify-between items-center">
        <span>Operating Expenses</span> 
        <span >Opex not found?
          <small class="text-blue-500 text-sm cursor-pointer" (click)="addOpexRecord()">Add New</small>
        </span>
      </label>

      <p-multiSelect class="input__field" styleClass="w-full gap-4" [(ngModel)]="newFinancialRecord.opex"
        [options]="filteredOpexRecords" optionLabel="description" optionValue="id" placeholder="Select Operating Expenses">
      </p-multiSelect>
    </div>


    <div class="input__wrapper">
      <label for="year" class="input-label">Depreciation And Amortisation(Total value lost within this financial year)</label>
      <input id="taxes" type="number" class="input__field" placeholder="0"  [(ngModel)]="newFinancialRecord.amorDep"/>
    </div>

    <div class="input__wrapper">
      <label for="year" class="input-label">Interests(Interest earned within this financial year)</label>
      <input id="taxes" type="number" class="input__field" placeholder="0"  [(ngModel)]="newFinancialRecord.interests" />
    </div>

    <div class="input__wrapper">
      <label for="year" class="input__label">Taxes(Amount of taxes paid wthiin this financial year)</label>
      <input id="taxes" type="number" class="input__field" placeholder="0" [(ngModel)]="newFinancialRecord.taxes" />
    </div>

    <div class="cta__group">
      <button class="btn btn-primary mt-2 btn-sm" (click)="createFinancial()">Save</button>
    </div>
  </div>
</app-modal>