<ng-container *ngIf=" refferedusers$ | async"></ng-container>

<section class="bg-white rounded-xl p-8 gap-2 flex flex-col">
  <div class="header__section">
    <div class="flex justify-between">
      <h3>{{titleText}}</h3>
        <p class="btn btn-sm " (click)="showReferees()">My Reffered Users</p>
    </div>
    

    <p>{{helperText}}</p>
  </div>
  <div class="flex items-center gap-6">
    <div
      class="block text-sm font-light link__input cursor-pointer"
      (click)="copyToClipboard()"
      #textDiv
    >
      {{ link }}
    </div>
    <button class="text-sm text-blue-500" (click)="copyToClipboard()">
      <span *ngIf="!linkCopied">Copy Link</span>
      <span class="flex gap-1 items-center text-xs" *ngIf="linkCopied">
        copied
        <i class="pi pi-check text-xs"></i>
      </span>
    </button>
  </div>
  <app-qr-code [value]="link" />
  <p class="block text-sm font-light">OR Scan the QR Code</p>

</section>


<app-modal [(visible)]="showRefferUsers" title="My Reffered Users" [helperText]="'These are the users refered to us by you'">

  <div class="flex mx-auto items-center justify-center text-center no-data" *ngIf="!refferedusers?.length">
    You have not reffered any user yet <br /> check again later
  </div> 
  <div class="flex flex-col gap-4" *ngIf="refferedusers?.length">
    <p-table [value]="refferedusers" [tableStyle]="{ 'width': '100%' }" [paginator]="true" [rows]="6">
      <ng-template pTemplate="header">
          <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>User Type</th>
          </tr>
      </ng-template>
      <!-- <p>{{referredUsers | json}}</p> -->
      <ng-template pTemplate="body" let-refferedUser>
          <tr>
              <td>{{ refferedUser.firstName }}</td>
              <td>{{ refferedUser.lastName }}</td>
              <td>{{refferedUser.username}}</td>
              <td>{{refferedUser.roles }}</td>
          </tr>
      </ng-template>
  </p-table>
  </div> 


</app-modal>
